<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>welcome to home page</h1>
    <dl>

    <dt>firstapp</dt>
        <dd><a href="/firstapp/first-url">first page</a></dd>
        <dd><a href="/firstapp/second-url">second page</a></dd>

    <dt>secondapp</dt>
    <dd><a href="/secondapp/third-url">third page</a></dd>
    <dd><a href="/secondapp/fourth-url">fourth page</a></dd>

    </dl>

</body>
</html>